* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  min-height: 1200px;
  display: grid;
  margin: 50px;
  grid-template-columns: auto 1fr;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.container .section-left {
  position: relative;
  background-color: rgb(31, 30, 37);
}

.perfil {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(60, 64, 67, 0.15);
}

.perfil .img-perfil {
  position: relative;
  width: 280px;
  height: 320px;
  overflow: hidden;
}

.perfil .img-perfil img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: auto;
}

.section-left h2 {
  color: #ffffff;
  font-size: 1em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  text-align: center;
}

.section-left .linia {
  border: 1px solid rgb(246, 208, 15);
  height: 1px;
  max-width: 230px;
  padding: 0;
  margin: 2px auto 0px auto;
}

ul {
  margin-top: 15px;
}

li ul {
  color: #ffffff;
  font-size: 14px;
  margin-left: 24px;
  font-weight: 600;
}

.info-text {
  margin-top: 5px;
  color: #ffffff;
  font-size: 12px;
  margin-left: 25px;
}

.section-left .contacto {
  margin-top: 50px;
}

.section-left .ul-style {
  background-color: rgb(50, 48, 58);
}

.ul-container {
  display: flex;
  width: 100%;
}

.linie-style {
  width: 20px;
  padding: 4px;
  margin-left: -20px;
  background: rgb(246, 208, 15);
}

.ul-style {
  padding-left: 10px;
  width: 87%;
}

.section-nombre .nombre,
.profesion {
  background: rgb(246, 208, 15);
}

.section-right h1 {
  font-size: 40px;
  font-weight: lighter;
  padding: 10px 10px 0px 50px;
}

.section-nombre h2 {
  margin-top: -10px;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 10px 10px 50px;
}

.about-me h3 {
  margin-top: 50px;
  padding: 10px 10px 0px 50px;
}

.about-me p {
  text-align: justify;
  padding: 10px 50px 10px 50px;
}

.section-right ul li {
  padding: 30px 50px 10px;
}

.section-right ul li p {
  text-align: justify;
  margin-top: 10px;
}

.experiencia {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
}

.title-2 {
  font-weight: bolder;
}

.experiencia-2 h5 {
  font-style: normal;
}

h4 {
  font-weight: normal;
}

ul li {
  list-style: none;
}

.li-title {
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-left: -50px;
}

.title-4 {
  background-color: rgb(50, 48, 58);
  color: white;
}

.ul-titulos {
  margin-top: -15px;
  text-align: center;
}

.li-title-sub {
  color: black;
  margin-top: -35px;
  margin-left: -50px;
  font-size: 14px;
  font-weight: normal;
}

.section-separador {
  height: 50px;
}

.container .section-right {
  background: #ffffff;
  position: relative;
  display: grid;
  grid-auto-rows: auto;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 100%;
    margin: auto;
    min-height: 1400px;
  }

  .perfil .img-perfil {
    position: relative;
    width: 400px;
    height: 440px;
    overflow: hidden;
  }

  .info-text {
    margin-left: 70px;
  }

  li ul {
    margin-left: 50px;
  }

  .li-final {
    margin-bottom: 40px;
  }
}
